@import url("https://fonts.googleapis.com/css?family=Barlow:500,700,900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Space+Mono");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
  background-color: #ecf0f1;
}

a, li {
  text-decoration: none;
  list-style: none;
}

nav {
  position: fixed;
  width: 100%;
  top: 0px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  font-size: 16px;
  padding: 15px 5%;
  background: #16171a;
  -webkit-box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.25);
}

nav #logo {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  margin-right: auto;
  font-weight: 900;
  font-size: 20px;
  color: #fff;
}

nav #social {
  margin: 0px auto;
}

nav #social a {
  color: #ecf0f1;
  font-size: 20px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

nav #social a:hover {
  color: #f81b39;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  font-weight: 700;
  color: #ecf0f1;
  padding: 0px 20px;
  font-family: "Barlow", sans-serif;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

nav ul li a:hover {
  color: #f81b39;
}

nav #blg {
  padding: 8px 16px;
  background-color: #f81b39;
  font-family: "Barlow", sans-serif;
  border: none;
  color: #ecf0f1;
  font-size: 15px;
  font-weight: 700;
  border-radius: 25px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

nav #blg:hover {
  background-color: #f81b39e0;
}

.fa {
  margin: auto 7px;
}

#hero {
  display: block;
  margin: 180px auto 100px auto;
  padding: 0px;
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  text-align: center;
  font-size: 80px;
  color: #ecf0f1;
  -webkit-animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

p {
  color: #dddddd;
}

.container {
  border-radius: 15px;
  margin: 100px 30px 0px 30px;
  padding: 20px 80px;
  color: #ecf0f1;
  background-color: #16171a;
}

.heading {
  font-weight: 700;
  font-family: "Barlow", sans-serif;
  font-size: 40px;
  text-align: center;
}

.block1 {
  font-weight: bold;
  font-family: "Space Mono", monospace;
}

.block2 {
  float: right;
  font-weight: 500;
  font-family: "Space Mono", monospace;
}

.line {
  width: 3%;
  margin: 2px auto 40px auto;
  border: solid;
  border-radius: 5px;
  color: #ecf0f1;
  -webkit-animation: width 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: width 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.row {
  display: -ms-grid;
  display: grid;
  margin: 20px auto;
  -ms-grid-columns: 57% 40%;
      grid-template-columns: 57% 40%;
  grid-column-gap: 3%;
}

#hello {
  font-weight: bolder;
  font-size: 25px;
}

@-webkit-keyframes width {
  0% {
    width: 1%;
  }
  100% {
    width: 3%;
  }
}

@keyframes width {
  0% {
    width: 1%;
  }
  100% {
    width: 3%;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */