$accent: #0a84c5;
$light: #edf0f1;
$dark: rgb(22, 23, 26);
$primaryfont: 'Barlow', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Barlow:500,700,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: $dark;
    font-family: $primaryfont;
}
html{
    scroll-behavior: smooth;
}
header{
    display: flex;
    justify-content: right;
    align-items: center;
    vertical-align: middle;
    font-size: 16px;
    padding: 15px 7%;
    button{
        margin-left: 15px;
        margin-top: 5px;
    }
}
#logo{
    cursor: pointer;
    font-family: $primaryfont;
    margin-right: auto;
    font-weight: 900;
    font-size: 20px;
    color: $light;
}
li, a, button{
    font-weight: 500;
    text-decoration: none;
    color: $light;
}
nav{
    list-style: none;
    li{
        display: inline-block;
        padding: 0px 20px;
        a{
            transition: all 0.3s ease 0s;
            &:hover{
                color: $accent;
            }
        }
    }
}
button{
    padding: 9px 20px;
    background-color: $accent;
    border: none;
    font-size: 16px;
    font-weight: 700;
    border-radius: 20px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    &:hover{
        background-color: rgba(8, 138, 207, 0.850);
    }
}
.hero{
    background-color: #777777;
    padding: 50px;
    font-family: $primaryfont;
    font-weight: 900;
    text-align: center;
    font-size: 70px;
    color: $light;
}
