$primarycolor: #1995d7;
$darkbgtext: #fff;

@import url('https://fonts.googleapis.com/css?family=Barlow:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Bebas+Neue|Timmana&display=swap');

/*

    font-family: 'Bebas Neue', cursive;

    font-family: 'Timmana', sans-serif;

    font-family: 'Barlow', sans-serif;

*/

html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
}
nav{
    margin: 0;
    background-color: $primarycolor;
    font-family: 'Barlow Medium', sans-serif;
    display: flex;
    li{
        list-style: none;
        flex-wrap: wrap;
        a{
            text-decoration: none;
            color: $darkbgtext;
        }
    }
}
.hero{
    background-color: #777777;
    padding: 50px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 70px;
    color: $darkbgtext;
}
